version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    ignore:
      # Ignore axios and lodash to simulate stuck alerts
      - dependency-name: "axios"
      - dependency-name: "lodash"
